.padding{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
}
.padding-20x20{
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
}
.break{
    padding-bottom: 800px;
}
.backround-light{
    background-color: #a3faff;
}
.title-padding{
    padding-left: 20px;
    padding-right: 20px;
}
.backround-image{
    background-image: url("https://freellustrustrations.s3.us-east-2.amazonaws.com/free-images/freeimg_45074996043freejpg850.jpg");
    width: 800px;
    height: 500px;
    background-color: #cccccc;
}
.padd-button{
    padding-left: 10px;
}
.t-color-white{
    color: white;
}
